!!! 5
html(lang:"en")
  head  
    meta(http-equiv='Content-Type', content='text/html;charset=UTF-8')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    != stylesheets('site.less')
    != javascripts('site.coffee')
  body
    block content
